<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/addJogo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dark.css') }}">
    <link href="{{ url_for('static', filename='css/upbar.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/animacaoindex2.js') }}" defer></script>

</head>

<body>
    <div id="transitionOverlay"></div>
    <canvas id="bolhasCanvas"></canvas>


    <div class="pai">
        <div class="usuario">
            <a href="/user">{{usuario}}</a>
            <div class="userFrame">
                <img src="{{ url_for('static', filename='img/user.jpg') }}">
            </div>
        </div>

        <div class="buttonspart">
            <div class="botoes2">
                <a class="botao" href="/home"><img class="icon-button" src="../static/img/home-icon.png"
                        alt="house_icon">Home </a>
                <a class="botao" href="/games"><img class="icon-button" src="../static/img/game-icon.png"
                        alt="house_icon"> Games</a>
                <a class="botao" href="/my_games"><img class="icon-button" src="../static/img/game-icon.png"
                    alt="house_icon"> My Games</a>
                <a class="botao" href="/fliperama"><img class="icon-button" src="../static/img/fr-icon.png"
                        alt="house_icon"> Fliperama </a>
                <a class="botao" href="/sobre"><img class="icon-button" src="../static/img/about-icon.png"
                        alt="house_icon"> Sobre </a>
                <a class="botao" href="/deletar"><img class="icon-button" src="../static/img/about-icon.png"
                         alt="house_icon"> Deletar </a>
                <div class="rightbuttons">
                    <input type="checkbox" id="botaoTema" hidden>
                    <label for="botaoTema" id="switchTema">
                        <span id="iconeSwitch"></span>
                    </label>

                    <a class="settingsbutton" flex="end" href="/home"><img src="../static/img/settings-icon.png"
                            alt="settings" height="40px" width="40px"> </a>
                </div>
            </div>
        </div>

        <div class="vidro">

            <div class="centralizar">
                <div class="caixa">
                    Edite o seu Game!
                </div>
            </div>
            <br>

            <div class="addGame">

                <form action="/editGame" method="POST">
                    

                    <br>
                    <label for="Nome">Nome:</label><br>
                    <input class="inputzika" type="text" id="Nome" name="Nome" placeholder="Nome" value ="{{nome}}">
                    <br>
                    <br>
                    
<label for="Preço">Preço:</label><br>
<input class="inputzika" type="text" id="Preço" name="Preço" placeholder="R$123" value="{{ game['preço'] }}">
<br><br>

<label for="Descrição">Descrição:</label><br>
<textarea class="inputzikaDesc" id="Descrição" name="Descrição" placeholder="Jogo Bacana">{{ game['descrição'] }}</textarea>
<br><br>

<label for="IMG1">IMG1:</label><br>
<input class="inputzika" type="text" id="IMG1" name="IMG1" placeholder="Imagem do Game" value="{{ game['img1'] }}">
<br><br>

<label for="IMG2">IMG2:</label><br>
<input class="inputzika" type="text" id="IMG2" name="IMG2" placeholder="Imagem do Game" value="{{ game['img2'] }}">
<br><br>

<label for="IMG3">IMG3:</label><br>
<input class="inputzika" type="text" id="IMG3" name="IMG3" placeholder="Imagem do Game" value="{{ game['img3'] }}">
<br><br>

<label for="Requisitos">Requisitos:</label><br>
<input class="inputzika" type="text" id="Requisitos" name="Requisitos" placeholder="Apetrechos Necessários" value="{{ game['requisitos'] }}">
<br><br>

<label for="Classificação">Classificação:</label><br>
<input class="inputzika" type="text" id="Classificação" name="Classificação" placeholder=">18, <18, L (livre)" value="{{ game['classificação'] }}">
<br><br>

<label for="ID de Download">ID de Download:</label><br>
<input class="inputzika" type="text" id="ID de Download" name="ID de Download" placeholder="12345" value="{{ game['download_id'] }}">
<br><br>

<label for="Personagem Principal">Personagem Principal:</label><br>
<input class="inputzika" type="text" id="Personagem Principal" name="Personagem Principal" placeholder="Juninho" value="{{ game['personagem'] }}">
<br>

                    <br>
                    <b>*O Personagem Principal irá ser utilizado para o nosso sistema de Inteligencia Artifical*</b>
                    <br>
                    <br>
                    <center><input class="enviar" type="submit" value="Editar Jogo"></center>

                </form>

                
            </div>

        </div>
    </div>
    
</body>

</html>